
.category-bar{
    display: grid;
    grid-template-columns: 1fr 0.07fr 0.07fr;

    grid-template-areas: 'category-bar-header search-category add-category';
    /*border-bottom: solid 0.5px #ba0015;*/


}
.category-bar-header{

    grid-area: category-bar-header;
    background-color: #a40015;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/

}
.category-bar-header h1{
    font-weight: bold;
    font-size: 2.8rem;

}

.search-category{
    grid-area: search-category;
    background-color: #a40015;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.add-category{
    grid-area: add-category;
    background-color: #a40015;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

