.category-list{

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    height:85vh;
    overflow: auto;

    background-color: #af2930;






;
}
.category{
    display: grid;

    padding: 1.6rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    transition: background 0.2s ease,
    padding 0.5s ;
    /*grid-gap: 1px;*/





}
div.category-list > div:nth-of-type(odd) {
    background: #a62329;
}
/*.category-list .category {*/
/*!*background-color: #ba0015;*!*/

/*transition: background 0.2s ease,*/
/*padding 0.5s ;*/
/*}*/
.category:hover {
padding: 1.9rem;
}



/*.category{*/
    /*grid-column: 2;*/
    /*grid-row: 1;*/
    /*display: grid;*/
    /*padding: 1rem;*/
    /*justify-content: start;*/
    /*justify-items: center;*/
    /*align-items: center;*/
    /*font-size: 1.2rem;*/
/*}*/
