
.post-bar{
    display: grid;
    grid-template-columns: 1fr 0.07fr 0.07fr;

    grid-template-areas: 'post-bar-header search-posts add-post';
    /*border-bottom: solid 0.5px #ba0015;*/


}
.post-bar-header{

    grid-area: post-bar-header;
    background-color: #d50015;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/

}
.post-bar-header h1{
    font-weight: bold;
    font-size: 2.8rem;

}

.search-posts{
    grid-area: search-posts;
    background-color: #d50015;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.add-post{
    grid-area: add-post;
    background-color: #d50015;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
