.post-container{
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-rows: auto;*/
    /*grid-gap: 0.2px;*/
    /*grid-template-rows: 100vh;*/










}

.post-yo{
    /*height: 100vh;*/



    /*height:100vh;*/
    height: 85vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1px;
    overflow: scroll;






}
.post-yo .hh {

    transition: background 0.2s ease,
    padding 0.5s ;
}
.hh:hover {
    /*background-color: green;*/
    padding: 5px;
}

