.post-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    /*grid-gap: 0.2px;*/



}
.vpp{

    height: 100vh;


    background-color: #f9f7ee;


}
.post-yo{

    display: grid;
    grid-gap: 1px;





}
.post-yo .hh {
    transition: background 0.2s ease,
    padding 0.5s ;
}
.hh:hover {
    /*background-color: green;*/
    padding: 5px;
}

