.post-container{
    display: grid;
    grid-template-rows:auto;
    grid-template-columns: 1fr;
    height: 100vh;
    background: #a39cef;
    text-decoration: none;
    color: white;
    overflow: scroll;

}

.post-yo{
    display: grid;
    grid-template-columns: 1fr;
    overflow: scroll;
    text-decoration: none;
    color: white;


}


.post-yo .hh {
    transition: background 0.2s ease,
    padding 0.5s ;
    text-decoration: none;
    color: white;

}
.hh:hover {
    /*background-color: green;*/
    padding: 5px;
}
div.post-yo > div:nth-of-type(1) {
    background: #302976;

}
div.post-yo > div:nth-of-type(1):hover {
    background: dimgrey;

}



div.post-yo > div:nth-of-type(2) {
    background: #383090;

}div.post-yo > div:nth-of-type(2):hover {
     background: dimgrey;

 }



div.post-yo > div:nth-of-type(3) {
    background: #4036a5;

}
div.post-yo > div:nth-of-type(3):hover {
    background: dimgrey;

}




div.post-yo > div:nth-of-type(4) {
    background: #483db9;

}
div.post-yo > div:nth-of-type(4):hover {
    background: dimgrey;

}



div.post-yo > div:nth-of-type(5) {
    background: #5044ce;

}
div.post-yo > div:nth-of-type(5):hover {
    background: dimgrey;

}



div.post-yo > div:nth-of-type(6) {
    background: #574ae2;

}
div.post-yo > div:nth-of-type(6):hover {
    background: dimgrey;

}



div.post-yo > div:nth-of-type(7) {
    background: #665ae4;

}
div.post-yo > div:nth-of-type(7):hover {
    background: dimgrey;

}



div.post-yo > div:nth-of-type(8) {
    background: #756ae7;

}
div.post-yo > div:nth-of-type(8):hover {
    background: dimgrey;

}



div.post-yo > div:nth-of-type(9) {
    background: #847be9;

}
div.post-yo > div:nth-of-type(9):hover {
    background: dimgrey;

}



div.post-yo > div:nth-of-type(10) {
    background: #948bec;

}
div.post-yo > div:nth-of-type(10):hover {
    background: dimgrey;

}



div.post-yo > div:nth-of-type(11) {
    background: #a39cef;

}
div.post-yo > div:nth-of-type(11):hover {
    background: dimgrey;

}









.post-list{

    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-template-rows: auto 0.1fr;
    text-decoration: none;
    color: white;
    text-decoration: none;
    color: white;

}

/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
}
.ripple:hover {
    background: dimgrey radial-gradient(circle, transparent 1%, #636363 1%) center/15000%;
}
.ripple:active {
    background-color: dimgrey;
    background-size: 100%;
    transition: background -1.0s;
}
.post{
    grid-column: 2;
    grid-row: 1;
    display: grid;
    padding: 1rem;
    justify-content: start;
    justify-items: center;
    align-items: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    transform: translate(0px, 0px);

}
.no-u{
    text-decoration: none;
    color: white;
}
.rating{
    display:grid;
    grid-column: 1;
    grid-row: 1/3;
    grid-template-rows:  repeat(3,1fr);


}
.rating .upvote{
    grid-row: 1;
    transform: scale(0.7);


}

.rating .score{
    grid-row: 2;

    padding-left: 18px;
    margin-bottom: -5px;
}
.rating .downvote{
    display: grid;
    grid-row: 3;
    transform: scale(0.7);



}

.post-footer{
    grid-column: 2;
    grid-row: 2;

    display:grid;
    font-size: 0.7rem;


    /*background-color: #980015;*/

    grid-template-columns:  repeat(3,1fr);
    text-decoration: none;
    color: white;
    /*grid-template-rows: auto;*/
}
.post-footer .comments{
    grid-column: 1;
    padding: 1rem;
    justify-content: start;
    justify-items: start;
    align-items: center;
}
.post-footer .author{
    grid-column: 2;
    padding: 1rem;
    justify-content: start;
    justify-items: center;
    align-items: center;

}
.post-footer .date{
    grid-column: 3;
    padding: 1rem;
    justify-content: end;
    justify-items: end;
    align-items: center;
}





/*PostBar*/


.post-bar{
    display: grid;
    grid-template-columns: 1fr 0.07fr 0.07fr;
    background: #181557;


    grid-template-areas: 'post-bar-header search-posts add-post';
    /*border-bottom: solid 0.5px #ba0015;*/


}
.post-bar-header{

    grid-area: post-bar-header;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 7.67rem;


    /*justify-content: center;*/

}
.post-bar-header h1{
    font-weight: bold;
    font-size: 2.8rem;

}

.search-posts{
    grid-area: search-posts;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.add-post{
    grid-area: add-post;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}